@charset "utf-8";
/* CSS Document */


/* ---------------- GENERAL ----------------*/
.hidden {
	display: none;
}

#siteContainer {
	margin: 0 auto;
	width: 960px;
	background-color: #333;
}

/* ---------------- HEADER ----------------*/
.headLine {
	font-size: 50px;
	display: flex;
	justify-content: center;
	margin: 20px 0px 20px 0px;
}

/* ---------------- DROP AREA ----------------*/
.content {
	width: 960px;
	display: flex;
	justify-content: center;
}

.dropArea {
	height: 470px;
	width: 960px;
	background-color: purple;
	border-radius: 10px;
}

/* ---------------- AUDIO SELECTION ----------------*/

.audioSelector {
	display: flex;
	flex-direction: row;
}

/* -------- INSTRUMENTS --------*/

.instrumentIcons {
	margin:10px 0px 10px 0px;
	width: 120px;
	height: 450px;
	background-color: black;
	border-radius: 10px;
}

.instrumentIcons img{
	width: 100px;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px 0px 0px 10px;
}

/* -------- AUSIO SAMPLES --------*/

.cars {
	display: flex;
	flex-direction: row;
	background-color: black;
	border-radius: 10px;
	width: 830px;
	height: 450px;
	margin: 10px 0px 0px 10px;
}

.cars img{
	display: flex;
	flex-direction: row;
	width: 180px;
	height: 300px;
	padding: 70px 0px 10px 20px;
}

.Car button {
	border-radius: 5px;
}

.carButtons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-left: 20px;
}