@charset "utf-8";
/* CSS Document */

.hidden {
	display: none;
}

#siteContainer {
	margin: 0 auto;
	width: 960px;
	background-color: #333;
}

.headLine {
	font-size: 50px;
	display: flex;
	justify-content: center;
	margin: 20px 0px 20px 0px;
}

.mainArea {
	width: 960px;
	display: flex;
	justify-content: center;
}

.carsAndDrop {
	display: flex;
	flex-direction: row;
	width: 960px;
}

.cars img{
	display: flex;
	justify-content: center;
	width: 200px;
	margin-right: 10px;
}

.dropArea {
	height: 470px;
	width: 612px;
	background-color: purple;
}

.carSets img{
	width: 163px;
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}